<template>
    <select class="form-control" id="type" name="type" v-model="report.type">
          <option value="0" selected="select">Todos</option>
          <option v-for="type in comensal_types" :value="type.value">@{{type.label}}</option>
    </select>
</template>

<script>
    import axios from 'axios';


    export default {
        mounted() {
            console.log('Component mounted.')
            this.getComensalsByType()
        },
        methods: {
            getComensalsByType: function () {
                return axios({
                    method:'get',
                    url:'localhost:8000/comensal-type',
                    dataType:'json',
                    contentType:'application/json'
                    }).then(function (response) {
                        
                        response.data.forEach(function(type) {
                            this.comensal_types.push({label:type.name,value:type.id})
                        })
                    }).catch(function (error){
                    console.log(error)
                })
            }
        },
        data () {
            return {
                comensal_types: [],
                report : {
                    'type' : ''
                },
                msg: 'Welcome to Your Vue.js PWA'
            }
        }

    }
</script>